[Desktop Entry]
Name=hwpplayers
Exec=webapp-container --app-id="hwpplayers.hwpplayer1" $@ www/index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Lomiri-Touch=true
